<div id="content">
<h1><%= title %></h1>
<p><%= title %></p>
</div>

<div id="map_canvas"></div>
<a href="/tweet">Click here</a>
<div id="output"></div>
<div id="output1"></div>
<script>
$.get('/location/YRS', function(data) {
  $('#output1').text(data);
});
</script>


<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<script>
  var map, initialised = false;

  // Initialise the map, geolocation and get other marauders from the db
  $(function () {
    var mapOptions = {
      zoom: 6,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    // Try HTML5 geolocation
    if(navigator.geolocation) {
      // Send our location to the server
      updateLocation();
    } else {
      // Browser doesn't support Geolocation
      handleNoGeolocation(false);
    }
  });

  function updateLocation() {
    navigator.geolocation.getCurrentPosition(function(position) {
        
        // Build and object of my data
        var my_data = {
          hashtag: '<%= hashtag %>',
          lat: ''+position.coords.latitude,
          lng: ''+position.coords.longitude
        }

        // Send my location to the server, then add all points to the map
        $.post('/location', my_data, function(response) {
          
          console.log(response);

          getOtherMarauders('<%= hashtag %>', my_data);
          
          // Trigger another update in 5 seconds
          setTimeout(updateLocation, 1000 * 5);
        });

      }, function() {
        handleNoGeolocation(true);
      });
  }

  function getOtherMarauders(hashtag, my_data) {

    var rawtag = '<%= hashtag %>'.slice(1);

    $.get('/location/' + rawtag, function (data) {

      data = JSON.parse(data);

      // Set up the target marker
      var pos = new google.maps.LatLng(data.target.lat, data.target.lng);

      var target = new google.maps.Marker({
        map: map,
        position: pos
      });

      if( ! initialised ) {
        map.setCenter(pos);
        initialised = true;
      }

      // Add markers for each of the other Marauders
      var blue_icon = new google.maps.MarkerImage("http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png");
      var green_icon = new google.maps.MarkerImage("http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png");

      data.marauders.forEach(function (marauder) {

        marauder.marker = new google.maps.Marker({
          map: map,
          icon: blue_icon,
          position: new google.maps.LatLng(parseInt(marauder.lat), parseInt(marauder.lng))
        });

        console.log(marauder, my_data);

        // Make my icon green
        if(marauder.lat === my_data.lat && marauder.lng === my_data.lng) {
          marauder.marker.icon = green_icon;
        }
        
      });

    });

  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }

    var options = {
      map: map,
      position: new google.maps.LatLng(60, 105),
      content: content
    };

    var infowindow = new google.maps.InfoWindow(options);
    map.setCenter(options.position);
  }

</script>
